.multiselect-parent > div,
.multiselect-parent {
    width: 100%;
}

.multiselect-parent .dropdown-toggle {
    width: 100%;
    text-align: left;
}

.multiselect-parent .dropdown-toggle::after {
    display: none;
}

.multiselect-parent label {
    width: 100%;
    color: black;
    padding: 5px 12px;
    display: flex;
    cursor: pointer;
    align-items: center;
    margin: 0;
}

.multiselect-parent .active,
.multiselect-parent label:hover {
    background-color: rgb(240, 240, 240)
}

.multiselect-parent label span {
    margin-left: 10px;
}

.multiselect-parent .dropdown-header {
    padding: 5px 12px;
}

.form-select.ng-isolate-scope {
    padding: 0;
    margin-bottom: 1rem;
}

a:hover {
    text-decoration: none;
}

.articles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.articles .card {
    margin: 10px;
    width: 18rem;
}
.articles .card .card-title {
    font-weight: 700;
    line-height: 24px;
    font-size: 20px;
}
.articles .card .card-img-top {
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.articles .card .subtitle-wrapper {
    display: flex;
    justify-content: space-between;
}

.articles .card .card-text {
    color: #6B6B6B;
    max-height: 150px;
    overflow: auto;
}

.articles .card kbd {
    margin-right: 5px;
}

.article-image {
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.article-title {
    text-align: center;
    font-size: 35px;
}

.article-tags-category-wrapper {
    display: flex;
    margin: 0 10px 20px;
    justify-content: space-between;
}

.article-tags {
    display: flex;
}

.article-content {
    margin: 0 10px;
}

.submit-error {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.edit-article-wrapper {
    height: 50px;
    background-color: lightgray;
    display: flex;
    cursor: pointer;
}
.edit-article-wrapper:hover {
    background-color: gray;
}

.edit-article {
    margin: auto;
    color: white;
    font-weight: bold;
}
