<div>
    <form ng-submit="submit()" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title</label>
            <input ng-model="articleForm.title" type="text" class="form-control" id="title" required>
        </div>
        <div class="form-group">
            <label for="excerpt">Excerpt</label>
            <input ng-model="articleForm.excerpt" type="text" class="form-control" id="excerpt" required>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea ng-model="articleForm.content" class="form-control" id="content" required></textarea>
        </div>
        <select ng-model="articleForm.category" class="form-select" aria-label="Category">
            <option ng-repeat="category in categories" value={{category.id}}>{{category.name}}</option>
        </select>

<!--        <div class="mb-3">-->
<!--            <label for="file" class="form-label">Image</label>-->
<!--            <input ng-model="articleForm.image" class="form-control" type="file" id="file">-->
<!--        </div>-->
        <select aria-label="tags" ng-model="articleForm.tags" class="selectpicker" multiple data-live-search="true">
            <option ng-repeat="tag in tags">{{tag.name}}</option>
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
