<div class="container">
    <div class="article-title">
        Edit article
    </div>
    <form ng-submit="submit()" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title</label>
            <input ng-model="articleForm.title" type="text" class="form-control" id="title" required>
        </div>
        <div class="form-group">
            <label for="excerpt">Excerpt</label>
            <input ng-model="articleForm.excerpt" type="text" class="form-control" id="excerpt" required>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea ng-model="articleForm.content" class="form-control" id="content" required></textarea>
        </div>
        <div></div>

        <div>
            <label>Tags</label>
            <div ng-dropdown-multiselect="" options="tags" selected-model="articleForm.tags" extra-settings="dropdownSettings" class="form-select"></div>
            <span class="submit-error" ng-if="tagError">{{tagError}}</span>
        </div>

        <div>
            <label>Category</label>
            <select ng-model="articleForm.category" class="form-select" aria-label="Category" ng-options="category.name for category in categories track by category.id" required></select>
            <span class="submit-error"  ng-if="categoryError">{{categoryError}}</span>
        </div>

        <div class="mb-3">
            <label for="file" class="form-label">Image</label>
            <input class="form-control" type="file" id="file">
            <span class="submit-error" ng-if="fileError">{{fileError}}</span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div ng-if="error" class="alert alert-danger" role="alert">
        error
    </div>
</div>
